Import data and modules

In [1]:
print('importing data & modules...', end=' ')
import numpy as np
import pandas as pd
import matplotlib.pyplot as graph
%matplotlib inline
dataset = pd.read_csv('titanic/train.csv', index_col=0)
print('done')

importing data & modules... done

In [2]:
print(dataset.head())
print(dataset.shape)
print(dataset.isnull().values.any())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
(891, 11)
True

In [3]:
dataset.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [4]:
dataset = dataset.fillna({'Cabin' : 0})
dataset = pd.get_dummies(dataset, columns=['Sex', 'Embarked'])

In [5]:
print(dataset.head())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name   Age  SibSp  \
PassengerId
1                                      Braund, Mr. Owen Harris  22.0      1
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1
3                                       Heikkinen, Miss. Laina  26.0      0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1
5                                     Allen, Mr. William Henry  35.0      0

             Parch            Ticket     Fare Cabin  Sex_female  Sex_male  \
PassengerId
1                0         A/5 21171   7.2500     0           0         1
2                0          PC 17599  71.2833   C85           1         0
3                0  STON/O2. 3101282   7.9250     0           1         0
4                0            113803  53.1000  C123           1         0
5                0            373450   8.0500     0           0         1

             Embarked_C  Embarked_Q  Embarked_S
PassengerId
1                     0           0           1
2                     1           0           0
3                     0           0           1
4                     0           0           1
5                     0           0           1

In [6]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=10)

In [7]:
train_x = dataset[['Pclass', 'SibSp', 'Parch', 'Fare', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S']]
train_y = dataset['Survived']

model.fit(train_x, train_y)

/home/maxwell/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [8]:
testset = pd.read_csv('titanic/test.csv')

testset = testset.fillna({'Cabin' : 0})
testset = pd.get_dummies(testset, columns=['Sex', 'Embarked'])
print(testset.head())

   PassengerId  Pclass                                          Name   Age  \
0          892       3                              Kelly, Mr. James  34.5
1          893       3              Wilkes, Mrs. James (Ellen Needs)  47.0
2          894       2                     Myles, Mr. Thomas Francis  62.0
3          895       3                              Wirz, Mr. Albert  27.0
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0

   SibSp  Parch   Ticket     Fare Cabin  Sex_female  Sex_male  Embarked_C  \
0      0      0   330911   7.8292     0           0         1           0
1      1      0   363272   7.0000     0           1         0           0
2      0      0   240276   9.6875     0           0         1           0
3      0      0   315154   8.6625     0           0         1           0
4      1      1  3101298  12.2875     0           1         0           0

   Embarked_Q  Embarked_S
0           1           0
1           0           1
2           1           0
3           0           1
4           0           1

In [9]:
test_x = testset[['Pclass', 'SibSp', 'Parch', 'Fare', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S']]
test_x = test_x.fillna(0)

In [10]:
test_x.isnull().sum()

Pclass        0
SibSp         0
Parch         0
Fare          0
Sex_female    0
Sex_male      0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [14]:
predictions = model.predict(test_x)

In [15]:
data = {'PassengerId':testset['PassengerId'],
        'Survived':predictions}

In [17]:
df = pd.DataFrame(data, columns=['PassengerId', 'Survived'])

In [18]:
df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [20]:
df.to_csv('predictions.csv', index=False)